@import "tailwindcss";

@media print {
  @page {
    size: auto;
    margin: 5mm;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  .print-layout {
    display: block !important;
  }
}